@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";

@theme {
    --color-green: #afb98e;
    --color-light-green: #dfe4bb;
    --font-primary: "Sour Gummy", serif;
    --font-secondary: "Montserrat", serif;
};